@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

li{
    display: table-row;
    padding: 10px;
}

label{
    display: table-cell;
    font-family: monospace;
}

input{
    display: table-cell;
    width: 400px;
    font-family: monospace;
    margin-bottom: 10px;
    word-wrap: break-word;
}

textarea{
    width: 400px;
}

#id_is_author{
    width: 10px;
}

#id_biography{
    height: 150px;
}

form{
    display: table;
    width: 85%;
}

button{
    font-family: monospace;
    color: white;
    background-color: black;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 15px;
}

span{
    font-family: monospace;
}

#user-card{
    margin-top: 50px;
    display: table;
    border: 1px solid black;
    width: auto;
}

#user-wrapper{
    vertical-align: top;
    display: table-cell;
    padding-left: 10px;
    width: 400px;;
}

#pic-wrapper{
    display: table-cell;
    padding: 10px;
}

#user-image{
    border: 1px solid black;
}

p{
    overflow-wrap: break-word;
}

h3{
    margin-top: 20px;
}